body{
    background:#fef65b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background: #fffa9a;
    border-radius:5px;
    box-shadow: 5px 5px #888888;
}

.assignment img {
    width:200px;
    border:2px solid #233461;
    margin-right:20px;
    border-radius:5px;
}
h1{
    color: #233461;
    text-align:center;
}

a{
    text-decoration:none;
    color:#233461;
}

.assignment a:hover {
    color:#000000;
}