body{
    background:#fef65b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color:rgb(18, 30, 95);
    text-align:center;
}
